FlowSystemService/Service References/MonitoringFacade/MonitoringFacade53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.2/MonitoringFacadeService_deploy/MonitoringFacade.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.4.2/MonitoringFacadeService_deploy/MonitoringFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" />
  <xs:import schemaLocation="http://192.168.4.2/MonitoringFacadeService_deploy/MonitoringFacade.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Easis.Monitoring.MonitoringService" />
  <xs:element name="GetActualDataInJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="infoPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActualDataInJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActualDataInJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobInfoInJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobInfoInJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobInfoInJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesInfoInJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesInfoInJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResourcesInfoInJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="GetResourcesInfoResult" nillable="true" type="q2:ResourceDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jid" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="GetJobInfoResult" nillable="true" type="q4:JobDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutJobResultInBson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jr" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutJobResultInBsonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutJobResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Easis.Common.DataContracts" minOccurs="0" name="jd" nillable="true" type="q5:JobDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutJobResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryInJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="infoPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryInJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHistoryInJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFinishedJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Easis.Monitoring.MonitoringService" minOccurs="0" name="where" nillable="true" type="q6:ArrayOfWhereStatement" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Easis.Monitoring.MonitoringService" minOccurs="0" name="order" nillable="true" type="q7:ArrayOfOrderStatement" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFinishedJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Easis.Monitoring.MonitoringService" minOccurs="0" name="SelectFinishedJobsResult" nillable="true" type="q8:JobSubset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>