WFStarter/WFStarter/Service References/WFS/FlowSystemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlowSystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srv08:81/FlowSystemService/FlowSystemService.svc?xsd=xsd0" namespace="http://escience.ifmo.ru/nano/services/" />
      <xsd:import schemaLocation="http://srv08:81/FlowSystemService/FlowSystemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srv08:81/FlowSystemService/FlowSystemService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srv08:81/FlowSystemService/FlowSystemService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Easis.Wfs.FlowSystemService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlowSystemService_Notify_InputMessage">
    <wsdl:part xmlns:q1="http://escience.ifmo.ru/nano/services/" name="parameters" element="q1:Notify" />
  </wsdl:message>
  <wsdl:message name="IFlowSystemService_Notify_OutputMessage">
    <wsdl:part xmlns:q2="http://escience.ifmo.ru/nano/services/" name="parameters" element="q2:NotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowSystemService_PushJob_InputMessage">
    <wsdl:part name="parameters" element="tns:PushJob" />
  </wsdl:message>
  <wsdl:message name="IFlowSystemService_PushJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushJobResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowSystemService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IFlowSystemService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlowSystemService">
    <wsdl:operation name="Notify">
      <wsdl:input wsaw:Action="http://escience.ifmo.ru/nano/services/Notify" message="tns:IFlowSystemService_Notify_InputMessage" />
      <wsdl:output wsaw:Action="http://escience.ifmo.ru/nano/services/INotifiable/NotifyResponse" message="tns:IFlowSystemService_Notify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowSystemService/PushJob" message="tns:IFlowSystemService_PushJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowSystemService/PushJobResponse" message="tns:IFlowSystemService_PushJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowSystemService/GetStatus" message="tns:IFlowSystemService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowSystemService/GetStatusResponse" message="tns:IFlowSystemService_GetStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlowSystemService" type="tns:IFlowSystemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Notify">
      <soap:operation soapAction="http://escience.ifmo.ru/nano/services/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushJob">
      <soap:operation soapAction="http://tempuri.org/IFlowSystemService/PushJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IFlowSystemService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowSystemService">
    <wsdl:port name="BasicHttpBinding_IFlowSystemService" binding="tns:BasicHttpBinding_IFlowSystemService">
      <soap:address location="http://srv08:81/FlowSystemService/FlowSystemService.svc/FlowSystemService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>