WFStarter/WFStarter/Service References/WFS/FlowSystemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv08:81/FlowSystemService/FlowSystemService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Easis.Wfs.FlowSystemService" />
  <xs:element name="PushJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Easis.Wfs.FlowSystemService" minOccurs="0" name="jobRequest" nillable="true" type="q1:JobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushJobResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wfId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>