WFStarter/WFStarter/Service References/WFS/FlowSystemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Easis.Wfs.FlowSystemService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Easis.Wfs.FlowSystemService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlowExecutionProperties" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Script" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScriptDataContext" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobRequest" nillable="true" type="tns:JobRequest" />
</xs:schema>