FlowSystemService/Service References/StorageService/StorageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StorageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srv08/StorageServices/StorageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srv08/StorageServices/StorageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srv08/StorageServices/StorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" />
      <xsd:import schemaLocation="http://srv08/StorageServices/StorageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Easis.Common.DbAccess.Mongo" />
      <xsd:import schemaLocation="http://srv08/StorageServices/StorageService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorageService_RegisterData_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterData" />
  </wsdl:message>
  <wsdl:message name="IStorageService_RegisterData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_RegisterDataBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDataBatch" />
  </wsdl:message>
  <wsdl:message name="IStorageService_RegisterDataBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterDataBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetDataById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataById" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetDataById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetDataByIdBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByIdBatch" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetDataByIdBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByIdBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorageService">
    <wsdl:operation name="RegisterData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/RegisterData" message="tns:IStorageService_RegisterData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/RegisterDataResponse" message="tns:IStorageService_RegisterData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterDataBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/RegisterDataBatch" message="tns:IStorageService_RegisterDataBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/RegisterDataBatchResponse" message="tns:IStorageService_RegisterDataBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetDataById" message="tns:IStorageService_GetDataById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetDataByIdResponse" message="tns:IStorageService_GetDataById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByIdBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetDataByIdBatch" message="tns:IStorageService_GetDataByIdBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetDataByIdBatchResponse" message="tns:IStorageService_GetDataByIdBatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StorageService" type="tns:IStorageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterData">
      <soap:operation soapAction="http://tempuri.org/IStorageService/RegisterData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterDataBatch">
      <soap:operation soapAction="http://tempuri.org/IStorageService/RegisterDataBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataById">
      <soap:operation soapAction="http://tempuri.org/IStorageService/GetDataById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByIdBatch">
      <soap:operation soapAction="http://tempuri.org/IStorageService/GetDataByIdBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageService">
    <wsdl:port name="StorageService" binding="tns:StorageService">
      <soap:address location="http://srv08/StorageServices/StorageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>