FlowSystemService/Service References/StorageService/StorageService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.1/StorageServices/StorageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Easis.Common.DbAccess.Mongo" />
  <xs:complexType name="DataEntry">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Easis.Common.DbAccess.Mongo" base="q1:MongoEntityWithGuidContractBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisteredAt" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Size" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataEntry" nillable="true" type="tns:DataEntry" />
  <xs:complexType name="ArrayOfDataEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataEntry" nillable="true" type="tns:DataEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataEntry" nillable="true" type="tns:ArrayOfDataEntry" />
</xs:schema>