FlowSystemService/Service References/StorageService/StorageService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.1/StorageServices/StorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" />
  <xs:import schemaLocation="http://192.168.4.1/StorageServices/StorageService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.4.1/StorageServices/StorageService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="RegisterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" minOccurs="0" name="dataEntry" nillable="true" type="q1:DataEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDataBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" minOccurs="0" name="dataEntries" nillable="true" type="q2:ArrayOfDataEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDataBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RegisterDataBatchResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" minOccurs="0" name="GetDataByIdResult" nillable="true" type="q4:DataEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDataByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIdBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idList" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIdBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Easis.Services.Storage.DataContracts" minOccurs="0" name="GetDataByIdBatchResult" nillable="true" type="q6:ArrayOfDataEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipSessionGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipSessionGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="ZipSessionGetResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataIds" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/Message" name="ZipGetResult" type="q9:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipSessionStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataIds" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipSessionStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZipSessionStartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipIsReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZipIsReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZipIsReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>